.jumbotron {
    background-color:lightsalmon;
}

#button {
    background-color:bisque;
    color:black;
}

.panel-body {
    border-color:black;
    border-radius: 10%;
    background-color:lightsalmon;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }